@use "../../css-config/Mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#skills {
  height: fit-content;
  width: 100%;
  background-color: #543a14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
  gap: 40px;
  overflow: hidden;

  @include Mixin.md {
    height: 100vh;
    width: 100%;
  }

  #header {
    width: 80%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 1.8rem;
      color: rgba(255, 255, 255);

      @include Mixin.md {
        font-size: 2.3rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.656);

      @include Mixin.md {
        font-size: 1rem;
      }
    }
  }

  #content {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    @include Mixin.md {
      width: 70%;
    }

    .skill {
      height: 80px;
      flex: 0 0 80px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      @include Mixin.md {
        height: 80px;
        flex: 0 0 80px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        -webkit-box-shadow: 5px 7px 11px -0.5px #1a0909;
        -moz-box-shadow: 5px 7px 11px -0.5px #1a0909;
        box-shadow: 5px 7px 11px -0.5px #1a0909;
        transform: scale(1.12);
        background-color: rgba(255, 255, 255, 0.9);
      }

      img {
        height: 48px;
        width: 48px;
      }

      h6 {
        font-size: 0.8rem;
      }
    }
  }
}
