@use "../../css-config/Mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #543a14;
  gap: 20px;

  @include Mixin.md {
    height: 100vh;
    width: 100%;
  }

  #header {
    width: 80%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2.2rem;
      color: rgba(255, 255, 255);

      @include Mixin.md {
        font-size: 2rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.656);

      @include Mixin.md {
        font-size: 1rem;
      }
    }
  }

  #content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 1.4rem;
      color: #ffff;

      @include Mixin.md {
        font-size: 2rem;
      }
    }
    span {
      font-size: 1.8rem;
      background: linear-gradient(
        45deg,
        rgb(242, 23, 23),
        rgb(167, 19, 95),
        aqua
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include Mixin.md {
        font-size: 2.2rem;
      }
    }

    h3 {
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.593);
      font-size: 0.7rem;

      @include Mixin.md {
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: #ffff;
      // background-color: red;

      @include Mixin.md {
        font-size: 1rem;
      }
    }
  }
}
